<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Creative 404 Responsive Error Widget Template | Home :: w3layouts</title>
<!-- Custom Theme files -->
<link href="/public/css/notfound.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Creative 404  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<!--404 page start here-->
<div class="not-found">
	<div class="notfound-top">
	    <h1>404</h1>
	</div>
	<div class="content">
		<img src="/public/images/green.png" alt="" title="">
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
		<form>
		<input type="text" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}">
		<input type="submit" value="Send"/>
		</form>
		<ul class="social-icon">
			<li><a  class="fa" href="#"> </a></li>
			<li><a  class="tw" href="#"> </a></li>
			<li><a  class="g" href="#"> </a></li>
		</ul>
	</div>
  <div class="clear"> </div>
</div>
<div class="copyright">
	<p>© 2016 Creative 404. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>	
<!--404 page end here-->
</body>
</html>