.znode_main .znode_main_about .content {
	padding: 20px;
	background-color: #fff;
	border-top: 1px solid #fff;
}
.znode_main .znode_main_about .list-group {
	margin: -21px -20px 0px;
}
.znode_main .znode_main_about .content > p {
	padding: 20px 0px;
}