.znode_main .znode_main_register li {
    border: none;
    margin: 0px -100px;
}
.znode_main .znode_main_register .content {
    background-color: #fff;
    padding: 0px 100px; 
    min-height: 700px;
}
.znode_main .znode_main_register .content .form-group img {
	cursor: pointer;
	width: 140px;
	height: 140px;
}