<div class="znode_main_about col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="content">
        <ul class="list-group">
            <li class="list-group-item bg-success"><a href="/index">主页</a>/ Node.js 新手入门</li>
        </ul>
        <div class="content_item">
            <div class="page-header">
                <h2>Node.js 入门</h2>
            </div>
            <div class="api_item">
                <p>CNode 社区为国内最大最具影响力的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
                <p>CNode 社区由一批热爱 Node.js 技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Node.js 感兴趣的朋友。</p>
                <p>CNode 的 SLA 保证是，一个9，即 90.000000%。</p>
                <p>社区目前由 @alsotang 在维护，有问题请联系：https://github.com/alsotang</p>
                <p>请关注我们的官方微博：http://weibo.com/cnodejs</p>
            </div>
        </div>
         <div class="content_item">
            <div class="page-header">
                <h2>Node.js 入门</h2>
            </div>
            <div class="api_item">
                <p>CNode 社区为国内最大最具影响力的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
                <p>CNode 社区由一批热爱 Node.js 技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Node.js 感兴趣的朋友。</p>
                <p>CNode 的 SLA 保证是，一个9，即 90.000000%。</p>
                <p>社区目前由 @alsotang 在维护，有问题请联系：https://github.com/alsotang</p>
                <p>请关注我们的官方微博：http://weibo.com/cnodejs</p>
            </div>
        </div>
         <div class="content_item">
            <div class="page-header">
                <h2>Node.js 入门</h2>
            </div>
            <div class="api_item">
                <p>CNode 社区为国内最大最具影响力的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
                <p>CNode 社区由一批热爱 Node.js 技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Node.js 感兴趣的朋友。</p>
                <p>CNode 的 SLA 保证是，一个9，即 90.000000%。</p>
                <p>社区目前由 @alsotang 在维护，有问题请联系：https://github.com/alsotang</p>
                <p>请关注我们的官方微博：http://weibo.com/cnodejs</p>
            </div>
        </div>
         <div class="content_item">
            <div class="page-header">
                <h2>Node.js 入门</h2>
            </div>
            <div class="api_item">
                <p>CNode 社区为国内最大最具影响力的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
                <p>CNode 社区由一批热爱 Node.js 技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Node.js 感兴趣的朋友。</p>
                <p>CNode 的 SLA 保证是，一个9，即 90.000000%。</p>
                <p>社区目前由 @alsotang 在维护，有问题请联系：https://github.com/alsotang</p>
                <p>请关注我们的官方微博：http://weibo.com/cnodejs</p>
            </div>
        </div>
    </div>
</div>