<div class="znode_main_novice col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="content">
        <ul class="list-group">
            <li class="list-group-item bg-success"><a href="/index">主页</a>/ Node.js 新手入门</li>
        </ul>
        <div class="page-header">
            <h2>Node.js 入门</h2>
        </div>
        <div>
            <p>《快速搭建 Node.js 开发环境以及加速 npm》</p>
            <a href="http://fengmk2.com/blog/2014/03/node-env-and-faster-npm.html">http://fengmk2.com/blog/2014/03/node-env-and-faster-npm.html</a>
            <p>《Node.js 包教不包会》</p>
            <a href="https://github.com/alsotang/node-lessons">https://github.com/alsotang/node-lessons</a>
            <p>《ECMAScript 6入门》</p>
            <a href="http://es6.ruanyifeng.com/">http://es6.ruanyifeng.com/</a></p>
            <p>《七天学会NodeJS》</p>
            <a href="https://github.com/nqdeng/7-days-nodejs">https://github.com/nqdeng/7-days-nodejs</a>
        </div>
        <div class="page-header">
            <h2>Node.js 资源</h2>
        </div>
        <div>
            <p>《前端资源教程》</p>
            <a href="https://cnodejs.org/topic/56ef3edd532839c33a99d00e">https://cnodejs.org/topic/56ef3edd532839c33a99d00e</a>
            <p>《国内的 npm 镜像源》</p>
            <a href="http://cnpmjs.org/">http://cnpmjs.org/</a>
            <p>《node weekly》</p>
            <a href="http://nodeweekly.com/issues">http://nodeweekly.com/issues</a></p>
            <p>《node123-node.js中文资料导航》</p>
            <a href="https://github.com/youyudehexie/node123">https://github.com/youyudehexie/node123</a>
            <p>《A curated list of delightful Node.js packages and resources》</p>
            <a href="https://github.com/sindresorhus/awesome-nodejs">https://github.com/sindresorhus/awesome-nodejs</a></p>
            <p>《Node.js Books》</p>
            <a href="https://github.com/pana/node-books">https://github.com/pana/node-books</a>
        </div>
        <div class="page-header">
            <h2>Node.js 名人</h2>
        </div>
        <div>
            <p>《名人堂》</p>
            <a href="https://github.com/cnodejs/nodeclub/wiki/名人堂">https://github.com/cnodejs/nodeclub/wiki/名人堂</a>
        </div>
        <div class="page-header">
            <h2>Node.js 服务器</h2>
        </div>
        <div>
            新手搭建 Node.js 服务器，推荐使用无需备案的
            <a href="https://www.digitalocean.com/">DigitalOcean(https://www.digitalocean.com/)</a>
        </div>
    </div>
</div>