<div class="znode_main_topiccreate col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="content">
        <ul class="list-group">
            <li class="list-group-item bg-success"><a href="/index">主页</a>/ 发表话题</li>
        </ul>
        <div class="publish">
            <span class="pull-left" style="padding: 7px">选择板块：</span>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                <select class=" form-control" name="type">
                    <option value="0">请选择</option>
                    <option value="1">分享</option>
                    <option value="2">问答</option>
                    <option value="3">招聘</option>
                    <option value="4">客户端测试</option>
                </select>
            </div>
            <input type="text" name="title" class="form-control" placeholder="标题字数 10 字以上">
            <div id="editor">
                <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
            </div>
            <button id="btn1">以html发表</button>
            <button id="btn2">以text发表</button>
        </div>
    </div>
</div>