<footer class="znode_footer hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <p><a href="#">RSS</a> | <a href="#">源码地址</a></p>
            <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
            <p>服务器赞助商为<img src="/public/images/footer_01" alt=""> ，存储赞助商为<img src="/public/images/footer_02" alt="">，由<img src="/public/images/footer_03" alt="">提供应用性能服务。</p>
            <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="#">DigitalOcean(https://www.digitalocean.com/)</a></p>
        </div>
    </div>
</footer>